# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

# Original large file (keep only cleaned version)
OnlineRetail.csv

# Streamlit secrets
.streamlit/secrets.toml